<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Class Update-HFC</title>
<link rel="shortcut icon" href="/images/shortcut-icon.jpg">
<link rel="stylesheet" href="/styles/adminstyles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
</head>


<body>
    <div class="title__header">
        <a href="#default" class="logo">
            <span class="material-icons-outlined">fitness_center</span>
                Health&FitnessClub
        </a>
    </div>
    
    <div class="topnav">
        <a href="#Home"  id="home" onclick="redirectAdminHome()">
            <span class="material-icons-outlined">home</span>
            Home
        </a>
        <a href="#RoomBooking" id="roomBooking" onclick="redirectBooking()">
            <span class="material-icons-outlined">room_preferences</span>
            Room Bookings
        </a>
        <a href="#EquipmentMaintain" id="maintainence" onclick="redirectMaintenance()">
            <span class="material-icons-outlined">home_repair_service</span>
            Equipment Maintenance
        </a>
        <a class="active" href="#ClassUpdate" id="classUpdate" onclick="redirectUpdate()">
            <span class="material-icons-outlined">update</span>
            Class Updater
        </a>
        <a href="#Billing" id="billProcess" onclick="redirectBilling()">
            <span class="material-icons-outlined">receipt_long</span>
            Billing
        </a>
        <a href="#Logout" onclick="logOut()">
          <span class="material-icons-outlined">logout</span>
          Log Out
        </a>
    </div>

    <div id="mine" class="main update">
        <h1>Class Schedule Updater</h1>
        <br><br>
        <h3>Classes that are presently scheduled</h3>
        <table class="table-sortable" id="classUpdatetable">
          <tr class="bg-info">
            <th>Edit Table</th>
            <th>Class Name</th>
            <th>Room Number Held in</th>
            <th>Date</th>
            <th>Time Start</th>
            <th>Duration</th>
            <th>Instructor</th>
          </tr>
        <tbody id="classUpdateTable">
          <tr>
            <td><button type="submit" class="btn editBtn" id="add">
                <span class="material-icons-outlined">edit</span>
                Edit
              </button>
            </td>
            <td>Hot Yoga</td>  
            <td>10</td>
            <td>2024-08-07</td>
            <td>2:00 pm</td>
            <td>2 hours</td>
            <td>Mikkel Rossland</td>
          </tr>
          <tr>
            <td><button type="submit" class="btn editBtn" id="add">
                <span class="material-icons-outlined">edit</span>
                Edit
              </button>
            </td>
            <td>Cario Bikes</td>  
            <td>1</td>
            <td>2024-08-10</td>
            <td>9:00 am</td>
            <td>1 hour</td>
            <td>Joseph Rossland</td>
          </tr>
        </tbody>
        </table>
        <div id="noClassesMsg">There is no group classes scheduled...</div>
        <button type="submit" class="btn saveBtn">
          <span class="material-icons-outlined">add</span>
            Add new Class
          </button>
        </div>
    <script type="text/javascript" src="/js/admin/update.js"></script>
    <script type="text/javascript" src="/js/navscripts.js"></script>
</body>
</html>