<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Room Booking Management-HFC</title>
<link rel="shortcut icon" href="/images/shortcut-icon.jpg">
<link rel="stylesheet" href="/styles/adminstyles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">
</head>


<body>
    <div class="title__header">
        <a href="#default" class="logo">
            <span class="material-icons-outlined">fitness_center</span>
                Health&FitnessClub
        </a>
    </div>
    
    <div class="topnav">
        <a href="#Home"  id="home" onclick="redirectAdminHome()">
            <span class="material-icons-outlined">home</span>
            Home
        </a>
        <a class="active" href="#RoomBooking" id="roomBooking" onclick="redirectBooking()">
            <span class="material-icons-outlined">room_preferences</span>
            Room Bookings
        </a>
        <a href="#EquipmentMaintain" id="maintainence" onclick="redirectMaintenance()">
            <span class="material-icons-outlined">home_repair_service</span>
            Equipment Maintenance
        </a>
        <a href="#ClassUpdate" id="classUpdate" onclick="redirectUpdate()">
            <span class="material-icons-outlined">update</span>
            Class Updater
        </a>
        <a href="#Billing" id="billProcess" onclick="redirectBilling()">
            <span class="material-icons-outlined">receipt_long</span>
            Billing
        </a>
        <a href="#Logout" onclick="logOut()">
          <span class="material-icons-outlined">logout</span>
          Log Out
        </a>
    </div>

    <div id="mine" class="main book">
        <h1>Room Booking Management</h1>
        <br><br>
        <h3>Rooms currently booked</h3>
        <table class="table-sortable" id="bookingtable">
          <tr class="bg-info">
            <th>Edit Booking</th>
            <th>Room Number</th>
            <th>Booking Day</th>
            <th>Booking Time</th>
            <th>Room Use</th>
          </tr>
        <tbody id="bookingTable">
          <tr>
            <td><button type="submit" class="btn editBtn" id="edit">
                <span class="material-icons-outlined">edit</span>
                Edit Table
              </button>
            </td>
            <td>1</td>  
            <td>Tuesday</td>
            <td>18:00:00</td>
            <td>Consultation</td>
          </tr>
          <tr>
            <td><button type="submit" class="btn editBtn" id="edit">
                <span class="material-icons-outlined">edit</span>
                Edit Table
              </button>
            </td>
            <td>2</td>  
            <td>Monday</td>
            <td>14:00:00</td>
            <td>Group Class</td>
          </tr>
          <tr>
            <td><button type="submit" class="btn editBtn" id="edit">
                <span class="material-icons-outlined">edit</span>
                Edit Table
              </button>
            </td>
            <td>3</td>  
            <td>Wednesday</td>
            <td>09:00::00</td>
            <td>Group Class</td>
          </tr>
        </tbody>
        </table>
        <div id="noSessionMsg">You have no booking sessions coming up...</div>
        <button type="submit" class="btn saveBtn">
            <span class="material-icons-outlined">add</span>
              Add new Booking
            </button>
    </div>
    <script type="text/javascript" src="/js/admin/book.js"></script>
    <script type="text/javascript" src="/js/navscripts.js"></script>
</body>
</html>