<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login-Health and Fitness Club(HAFC)</title>
<link rel="shortcut icon" href="/code/public/images/shortcut-icon.jpg">
<link rel="stylesheet" href="/code/public/styles/logregstyles.css">
</head>   
    <body>
        <div class="container">

        <!--Form asking for user type-->    
        <form class="form" id="userType">
            <h1 class="form__title">What type of user are you?</h1>
            <div class="form__message form__message--error"></div>
            <input type="radio" id="member" name="user_type" value="member">
            <label for="member">Member/New Member</label><br>
            <input type="radio" id="trainer" name="user_type" value="trainer">
            <label for="trainer">Trainer</label><br>
            <input type="radio" id="admin" name="user_type" value="admin">
            <label for="admin">Administrative Staff</label>
            <button class="form__button" type="submit" id="type_button"><span>Enter</span></button>
        </form>       
        
        <!--Form for logging user in; is hidden on default-->
        <form class="form form--hidden" id="login">
            <h1 class="form__title">User Login</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signinUsername" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" id="signinPasscode" class="form__input form__input--error" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit" id="login_button"><span>Login</span></button>
            <p class="form__text">
            <a class="form__link" href='./' id="linkcreateNewAccount">Not a member yet? Sign Up Today!</a>
            </p>
            <p class="form__text">
                <a class="form__link" href='./' id="linkUserType">Selected the wrong user type? Go back to the last page!</a>
            </p>
        </form>

        <!--Form for creating a new member account; is hidden by default and is only available for member user types-->
        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">Become a Member Today!</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" id="signupEmail"class="form__input" autofocus placeholder="Email Address">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" id="signupPasscode" class="form__input form__input--error" autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" id="comPasscode" class="form__input form__input--error" autofocus placeholder="Confirm Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit" id="register_button"><span>Register</span></button>
            <p class="form__text">
            <a class="form__link" href='./' id="linkLogin">Already a member? Sign In</a>
            </p>
        </form>

        </div>
     <script type="text/javascript" src="/code/public/js_scripts/admin/admin.js"></script>   
     <script type="text/javascript" src="/code/public/js_scripts/trainers/trainer.js"></script>   
     <script type="text/javascript" src="/code/public/js_scripts/members/member.js"></script>   
     <script type="text/javascript" src="/code/public/js_scripts/logregscripts.js"></script>
    </body>
</html>